/* src/styles/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima de la pantalla */
}

