
.spacex-stats {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.stats-year {
  margin-bottom: 1rem;
}

.stats-rocket {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
